#page-users {
  height: 100vh;
}
.map {
  height: 50vh;
  margin: 20px 0;
}

#page-users button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  max-width: 250px;
  outline: none;
  cursor: pointer;
  background-color: #6c63ff;
  color: #fff;
  transition: ease 0.2s;
}
#page-users button svg {
  margin-right: 20px;
}
#page-users button:hover {
  opacity: 0.9;
}
.users-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  width: 90%;
  max-width: 1100px;
}
.users-header button {
  margin-left: 40px;
}
.user-section {
  margin: auto;
  width: 90%;
  max-width: 1100px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.username-section {
  width: 100%;
  max-width: 350px;
  height: 350px;
}
.username-section button,
p {
  margin-top: 15px;
}
